rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /notes/{userId}/{document=**} {
      allow read, create, delete, update: if request.auth.uid == userId;
    }
    match /shared-notes/{document=**} {
      allow read: if resource.data.users;
      allow read, create, delete, update;
    }
  }
}